{
  "$schema": "https://opencode.ai/config.json",
  "plugin": ["opencode-with-claude", "opencode-gemini-auth@latest"],
  "provider": {
    "anthropic": {
      "options": {
        "apiKey": "{env:ANTHROPIC_API_KEY}"
      }
    }
  }
}
